<div class="sidebar-social">
  {% if site.social.github %}
    <a href="https://github.com/{{ site.social.github }}" target="_blank" rel="noopener">
      <img src="/_includes/icons/github-142-svgrepo-com.svg" alt="GitHub" width="24" height="24">
    </a>
  {% endif %}

  {% if site.social.email %}
    <a href="mailto:{{ site.social.email }}">
      <img src="/_includes/icons/messages-svgrepo.svg" alt="Email" width="24" height="24">
    </a>
  {% endif %}

  {% if site.social.orcid %}
    <a href="https://orcid.org/{{ site.social.orcid }}" target="_blank" rel="noopener">
      <img src="/_includes/icons/orcid.svg" alt="ORCID" width="24" height="24">
    </a>
  {% endif %}

  {% if site.social.linkedin %}
    <a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" rel="noopener">
      <img src="/_includes/icons/linkedin-svgrepo.svg" alt="LinkedIn" width="24" height="24">
    </a>
  {% endif %}
</div>
